<h1>Editing leaseholder</h1>

<%= render "form", leaseholder: @leaseholder %>

<br>

<div>
  <%= link_to "Show this leaseholder", @leaseholder %> |
  <%= link_to "Back to leaseholders", leaseholders_path %>
</div>
