<p style="color: green"><%= notice %></p>

<h1>Leaseholders</h1>

<div id="leaseholders">
  <% @leaseholders.each do |leaseholder| %>
    <%= render leaseholder %>
    <p>
      <%= link_to "Show this leaseholder", leaseholder %>
    </p>
  <% end %>
</div>

<%= link_to "New leaseholder", new_leaseholder_path %>
