<p style="color: green"><%= notice %></p>

<h1>Lessors</h1>

<div id="lessors">
  <% @lessors.each do |lessor| %>
    <%= render lessor %>
    <p>
      <%= link_to "Show this lessor", lessor %>
    </p>
  <% end %>
</div>

<%= link_to "New lessor", new_lessor_path %>
