<div id="<%= dom_id rental_agreement %>">
  <p>
    <strong>Timestamp start:</strong>
    <%= rental_agreement.timestamp_start %>
  </p>

  <p>
    <strong>Timestamp end:</strong>
    <%= rental_agreement.timestamp_end %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= rental_agreement.status %>
  </p>

</div>
