<h1>Editing rental agreement</h1>

<%= render "form", rental_agreement: @rental_agreement %>

<br>

<div>
  <%= link_to "Show this rental agreement", @rental_agreement %> |
  <%= link_to "Back to rental agreements", rental_agreements_path %>
</div>
